// Définition des variables de couleurs

$black: #0D0E0D;
$darkgray: #40403F;
$beige: #EDDACA;
$orange: #F94C1B;
$yellow: #FAE119;
$turquoise: #63BDA9;
$pink: #E32989;
$gold: #B4960B;
$mandarin: #EE8419;