// Définition des variables de couleurs

// @import 'assets/base/colors';
$black: #0D0E0D;
$darkgray: #40403F;
$beige: #EDDACA;
$orange: #F94C1B;
$yellow: #FAE119;
$turquoise: #63BDA9;
$pink: #E32989;
$gold: #B4960B;
$mandarin: #EE8419;

// Couleurs customs:
$beigeclair:#f7f1eb;
$canard: #367F86;
$bleupastel: #438498;
$blanc:#f7f1eb;


body {
    //background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    background-color: $beigeclair;
    color: $black;
}
