// REGLES GENERALES
* {
    box-sizing: border-box;
}

h1{
    margin-top: 1em;
    margin-bottom: 1em;
}

h2{
    margin-bottom: 1em;
}

h3{
    margin-bottom: 0.5em;
}

div.ar16-9{
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    img, iframe{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.card-tags {
    padding: 10px;
    background-color: $mandarin;
    border-radius: 100px;
    color: $black;
    font-size: 14px;
    font-weight: bold;
    width: max-content;
    letter-spacing: 0.6px;
    text-align: center;
    text-shadow: none;
}

div.container{
    max-width: none;
}